<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.TC10AppConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.TC10AppConfig">
        <result column="ID" property="id" />
        <result column="BRANCH" property="branch" />
        <result column="NAME" property="name" />
        <result column="APP_NO" property="appNo" />
        <result column="ENABLE" property="enable" />
        <result column="IMPORT_KEY" property="importKey" />
        <result column="CREATER" property="creater" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="APP_CATEGORY" property="appCategory" />
        <result column="DIRECT_AUTO_CUPS_PUSH" property="directAutoCupsPush" />
        <result column="INDIRECT_AUTO_CUPS_PUSH" property="indirectAutoCupsPush" />
        <result column="IS_ATM" property="isAtm" />
    </resultMap>

</mapper>
