<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.TM04MerMultiAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.TM04MerMultiApp">
        <result column="ID" property="id" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="IS_MAIN" property="isMain" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="PROJECT_SUB_CATEGORIES" property="projectSubCategories" />
        <result column="REGISTER_WAY" property="registerWay" />
        <result column="STATUS" property="status" />
        <result column="MCC_CODE" property="mccCode" />
        <result column="MERCHANT_NO" property="merchantNo" />
        <result column="TRA_FRONT_PLATFORM_NO" property="traFrontPlatformNo" />
        <result column="TRA_ACCEPT_CHANNEL_NO" property="traAcceptChannelNo" />
        <result column="SETTLEMENT_NO" property="settlementNo" />
        <result column="HEAD_QUARTERS_FLAG" property="headQuartersFlag" />
        <result column="IS_TRADE_PROCESS" property="isTradeProcess" />
        <result column="IS_SETTLEMENT" property="isSettlement" />
        <result column="NET_IDENTIFIER" property="netIdentifier" />
        <result column="OLD_MERCHANT_NO" property="oldMerchantNo" />
        <result column="ACQUIRER_NO" property="acquirerNo" />
        <result column="ACQUIRER_SUB_NO" property="acquirerSubNo" />
        <result column="ACQUIRER_SUB_NAME" property="acquirerSubName" />
        <result column="ACQUIRER_MERCHANT_NO" property="acquirerMerchantNo" />
        <result column="DEALING_TYPES" property="dealingTypes" />
        <result column="KEY_INDEX" property="keyIndex" />
        <result column="TELPHONE1" property="telphone1" />
        <result column="TELPHONE2" property="telphone2" />
        <result column="TELPHONE3" property="telphone3" />
        <result column="MAINTAIN_TEL" property="maintainTel" />
        <result column="APP_BEGIN_DATE" property="appBeginDate" />
        <result column="APP_END_DATE" property="appEndDate" />
        <result column="CHECK_FLAG" property="checkFlag" />
        <result column="REFUSE_REASON" property="refuseReason" />
        <result column="PASS_TYPE" property="passType" />
        <result column="DEVELOPING_DEPT" property="developingDept" />
        <result column="DEVELOPING_DEPT_NAME" property="developingDeptName" />
        <result column="DEVELOPING_PERSON" property="developingPerson" />
        <result column="DEVELOPING_PERSON_NAME" property="developingPersonName" />
        <result column="CUSTOMER_MANAGER" property="customerManager" />
        <result column="CUSTOMER_MANAGER_NAME" property="customerManagerName" />
        <result column="BMS_ID" property="bmsId" />
        <result column="CREATER" property="creater" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIER" property="lastModifier" />
        <result column="LAST_MODIFY_DATE" property="lastModifyDate" />
        <result column="BRANCH" property="branch" />
        <result column="PROVINCE_BRANCH" property="provinceBranch" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="CHECK_DATE" property="checkDate" />
        <result column="APP_CATEGORY" property="appCategory" />
        <result column="BUSINESS_CATEGORY" property="businessCategory" />
        <result column="SUPPORT_CARD" property="supportCard" />
        <result column="APP_NO" property="appNo" />
        <result column="SUPPORT_CARDTYPE" property="supportCardtype" />
        <result column="FEE_TYPE" property="feeType" />
        <result column="FEE_LEVEL" property="feeLevel" />
        <result column="PAY_COMMENTS" property="payComments" />
        <result column="CAPITALMERNO" property="capitalmerno" />
        <result column="ACQUIRERINSTNO" property="acquirerinstno" />
        <result column="OPSFLAG" property="opsflag" />
        <result column="CLASSICFLAG" property="classicflag" />
        <result column="IS_ALLOW_DOWN" property="isAllowDown" />
        <result column="UNION_REG_CODE" property="unionRegCode" />
        <result column="IS_WHITE_FLAG" property="isWhiteFlag" />
        <result column="DEBIT_CREDIT_FLAG" property="debitCreditFlag" />
        <result column="RETURN_FLAG" property="returnFlag" />
        <result column="RETURN_RATE" property="returnRate" />
        <result column="FIELD_1" property="field1" />
        <result column="FIELD_2" property="field2" />
        <result column="FIELD_3" property="field3" />
        <result column="FIELD_4" property="field4" />
        <result column="FIELD_5" property="field5" />
        <result column="FIELD_6" property="field6" />
        <result column="FIELD_7" property="field7" />
        <result column="FIELD_8" property="field8" />
        <result column="FIELD_9" property="field9" />
        <result column="FIELD_10" property="field10" />
        <result column="IS_OUTRULE" property="isOutrule" />
        <result column="OUTRULE_REASON" property="outruleReason" />
        <result column="APPLY_FREE_SIGN_FREE_PASSWORD" property="applyFreeSignFreePassword" />
        <result column="FIELD_11" property="field11" />
        <result column="FIELD_12" property="field12" />
        <result column="FIELD_13" property="field13" />
        <result column="FIELD_14" property="field14" />
        <result column="FIELD_15" property="field15" />
        <result column="FIELD_16" property="field16" />
        <result column="FIELD_17" property="field17" />
        <result column="FIELD_18" property="field18" />
        <result column="FIELD_19" property="field19" />
        <result column="FIELD_20" property="field20" />
        <result column="FIELD_21" property="field21" />
        <result column="FIELD_22" property="field22" />
        <result column="FIELD_23" property="field23" />
        <result column="FIELD_24" property="field24" />
        <result column="FIELD_25" property="field25" />
        <result column="TELPHONE1_ENC" property="telphone1Enc" />
        <result column="TELPHONE2_ENC" property="telphone2Enc" />
        <result column="TELPHONE3_ENC" property="telphone3Enc" />
        <result column="MAINTAIN_TEL_ENC" property="maintainTelEnc" />
        <result column="RISK_RANK" property="riskRank" />
        <result column="TELPHONE1_BGENC" property="telphone1Bgenc" />
        <result column="TELPHONE2_BGENC" property="telphone2Bgenc" />
        <result column="TELPHONE3_BGENC" property="telphone3Bgenc" />
        <result column="MAINTAIN_TEL_BGENC" property="maintainTelBgenc" />
    </resultMap>

</mapper>
