<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.M10MerAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.M10MerAccount">
        <id column="ID" property="id" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="ACCOUNT_TYPE" property="accountType" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="BANK_NO" property="bankNo" />
        <result column="BANK_NAME" property="bankName" />
        <result column="ACCOUNT_NO" property="accountNo" />
        <result column="ACCOUNT_NAME" property="accountName" />
        <result column="CREATER" property="creater" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIER" property="lastModifier" />
        <result column="LAST_MODIFY_DATE" property="lastModifyDate" />
        <result column="BRANCH" property="branch" />
        <result column="PROVINCE_BRANCH" property="provinceBranch" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="DEPOSIT_BANK_NO" property="depositBankNo" />
        <result column="STATUS" property="status" />
        <result column="ACCOUNT_NATURE" property="accountNature" />
        <result column="IS_OUTRULE" property="isOutrule" />
        <result column="OUTRULE_REASON" property="outruleReason" />
        <result column="SPEC_FLAG" property="specFlag" />
        <result column="RESERVED_NUMBER" property="reservedNumber" />
        <result column="IS_HIT_BLACK" property="isHitBlack" />
        <result column="CURRENCY_TYPE" property="currencyType" />
        <result column="ACCOUNT_NO_ENC" property="accountNoEnc" />
        <result column="ACCOUNT_NO_BGENC" property="accountNoBgenc" />
        <result column="RESERVED_NUMBER_BGENC" property="reservedNumberBgenc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CUSTOMER_ID, ACCOUNT_TYPE, ORDER_NO, BANK_NO, BANK_NAME, ACCOUNT_NO, ACCOUNT_NAME, CREATER, CREATE_DATE, LAST_MODIFIER, LAST_MODIFY_DATE, BRANCH, PROVINCE_BRANCH, IS_DELETE, DEPOSIT_BANK_NO, STATUS, ACCOUNT_NATURE, IS_OUTRULE, OUTRULE_REASON, SPEC_FLAG, RESERVED_NUMBER, IS_HIT_BLACK, CURRENCY_TYPE, ACCOUNT_NO_ENC, ACCOUNT_NO_BGENC, RESERVED_NUMBER_BGENC
    </sql>

</mapper>
