<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.M13AppMultiAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.M13AppMultiAccount">
        <id column="ID" property="id" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="MULTI_APP_ID" property="multiAppId" />
        <result column="ACCOUNT_ID" property="accountId" />
        <result column="CARD_ATTR" property="cardAttr" />
        <result column="ISSUE_INST_NO" property="issueInstNo" />
        <result column="PRIORITY" property="priority" />
        <result column="CREATER" property="creater" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIER" property="lastModifier" />
        <result column="LAST_MODIFY_DATE" property="lastModifyDate" />
        <result column="BRANCH" property="branch" />
        <result column="PROVINCE_BRANCH" property="provinceBranch" />
        <result column="IS_DELETE" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CUSTOMER_ID, MULTI_APP_ID, ACCOUNT_ID, CARD_ATTR, ISSUE_INST_NO, PRIORITY, CREATER, CREATE_DATE, LAST_MODIFIER, LAST_MODIFY_DATE, BRANCH, PROVINCE_BRANCH, IS_DELETE
    </sql>

</mapper>
