<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.TranslogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.Translog">
        <result column="ssn" property="ssn" />
        <result column="term_ssn" property="termSsn" />
        <result column="tx_acc" property="txAcc" />
        <result column="mer_code" property="merCode" />
        <result column="term" property="term" />
        <result column="tran_code" property="tranCode" />
        <result column="tran_curr" property="tranCurr" />
        <result column="sett_curr" property="settCurr" />
        <result column="cb_bank" property="cbBank" />
        <result column="act_date" property="actDate" />
        <result column="act_time" property="actTime" />
        <result column="post_date" property="postDate" />
        <result column="tran_amt" property="tranAmt" />
        <result column="n_tran_amt" property="nTranAmt" />
        <result column="hs_amt" property="hsAmt" />
        <result column="hs_comm" property="hsComm" />
        <result column="fcardtype" property="fcardtype" />
        <result column="fcomma" property="fcomma" />
        <result column="feps" property="feps" />
        <result column="card_no" property="cardNo" />
        <result column="js_code" property="jsCode" />
        <result column="servicePointInserttype" property="servicePointInserttype" />
        <result column="term_ability" property="termAbility" />
        <result column="ICcardConditionCode" property="iCcardConditionCode" />
        <result column="typeid" property="typeid" />
        <result column="index_no" property="indexNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ssn, term_ssn, tx_acc, mer_code, term, tran_code, tran_curr, sett_curr, cb_bank, act_date, act_time, post_date, tran_amt, n_tran_amt, hs_amt, hs_comm, fcardtype, fcomma, feps, card_no, js_code, servicePointInserttype, term_ability, ICcardConditionCode, typeid, index_no
    </sql>

</mapper>
